.console {
    width: min(800px, 100%);
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.console-inner {
    max-height: min(700px, 80vh);
    overflow: auto;
    background-color: var(--console-bg); /* Тёмно-серый фон */
    padding: 8px;
}

.console-text {
    color: var(--console-text-color);
    font-weight: 500;
    font-size: var(--console-text-size);
}

#blink {
    animation: blink 1.75s infinite;
    margin-left: -3px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

.hidden-text {
    color: #111111;
}

mark,
.hidden-text::selection {
    background-color: var(--console-text-color); /* Цвет фона выделенного текста */
    color: #000000; /* Цвет текста */
}

/* Обвертка строки с полем ввода команд */
#command-input-wrapper {
    display: flex;
    align-items: center;
}

/* Растягиваем поле ввода команд */
#command-input {
    min-width: 1px;
    flex: 1;
}


/* Блок для команды "HELP" */
.help-command {
    display: flex;
}

.help-command p:first-of-type {
    min-width: 80px;
}

/* Добавить уменьшение текста для командной командной строки а так же сделать ей минимальную ширину */