@import "./button.css";
@import "./input.css";
@import "./phone.css";

:root {
    --console-bg: #111111;
    --console-text-color: #00ff00;
    --console-text-size: 16px;
}

@media screen and (max-width: 550px) {
    :root {
        --console-text-size: 12px;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    padding: 20px;
}


.console {
    width: min(800px, 100%);
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.console-title {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 9px;
}

.console-title img {
    width: 16px;
    height: 16px;
}

.console-title p {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1px;
}

.console-title__controls {
    display: flex;
    margin-left: auto;
}

.console-title__controls button {
    width: 32px;
    height: 24px;
    cursor: not-allowed;
}

.console-title__controls button img {
    width: 18px;
    height: 18px;
}

.console-text {
    background-color: var(--console-bg); /* Тёмно-серый фон */
    padding: 8px;

    color: var(--console-text-color);
    font-weight: 500;
    font-size: var(--console-text-size);
}

.blink {
    animation: blink 1s infinite;
    margin-left: -3px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

.hidden-text {
    color: #111111;
}

.hidden-text::selection {
    background-color: var(--console-text-color); /* Цвет фона выделенного текста */
    color: #000000; /* Цвет текста */
}

mark {
    background-color: var(--console-text-color);
    color: #000000;
}