@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

:root {
    --console-bg: #111111;
    --console-text-color: #00ff00;
    --console-text-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    padding: 20px;
}

@media screen and (width < 550px) {
    :root {
        --console-text-size: 12px;
    }

    body {
        background-color: #000000;
        padding: 8px;
    }
}